<div class="information-form-page bg1">
  <div class="information-form-page-overlay"></div>
  <div class="information-form-page-wrapper">
    <a href="#" class="information-form-logo"></a>
    <p>请您完善以下基本信息</p>
    <%= form_for @current_user, url: complete_wechat_users_path, method: :post do |f| %>
      <%= f.text_field :phone, class: 'text-input-one', placeholder: '手机' %>
      <%= f.text_field :nickname, class: 'text-input-one', placeholder: '昵称' %>
      <%= f.file_field :portrait, class: 'text-input-one', placeholder: '头像' %>
      <div class="one-half">
        <a href="#" class="button button-blue full-button">发送验证码</a>
      </div>
      <div class="one-half last-column">
        <%= submit_tag '登录', class: 'button button-green full-button' %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>