<div class="information-form-page bg1">
  <div class="information-form-page-overlay"></div>
  <div class="information-form-page-wrapper">
    <a href="#" class="information-form-logo"></a>
    <p class="message">请您完善以下基本信息</p>
    <%= form_for @current_user, url: complete_wechat_users_path, method: :post, html: { id: :complete_information } do |f| %>
      <%= f.text_field :phone, maxlength: 11, class: 'text-input-one', placeholder: '手机号' %>
      <div class="one-half">
        <%= text_field_tag :verification_code, nil, maxlength: 4, class: 'text-input-one', placeholder: '验证码' %>
      </div>
      <div class="one-half last-column ">
        <a href="#" class="button button-green full-button verification-code-button">发送验证码</a>
      </div>
      <%= f.text_field :nickname, maxlength: 25, class: 'text-input-one', placeholder: '昵称（4至16位中英文、数字或下划线）' %>
      <%= link_to '完成', '#', class: 'button button-blue full-button complete-information-button' %>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
<% content_for :javascript do %>
  <script>
  (function ($) {
    $(document).ready(function() {
      var interval;
      var buttonDisabled = false;
      var currentCount;

      $('.verification-code-button').click(function(e){
        e.preventDefault();
        if(!buttonDisabled) {
          if($('#user_phone').val() == '' || $('#user_phone').val().length != 11) {
            $('.message').addClass('alert');
            $('.message').html('请填写手机号');
            $('.message').effect('shake', {}, 500);
          } else {
            $.ajax({
              url: "/wechat/verification_codes/send_for_complete_information?phone=" + $("#user_phone").val(),
              contentType: "application/json; charset=utf-8",
              dataType: "json",   
              method: 'POST',
              success: function(data) {
                if(data.result == 'success') {
                  $('.message').removeClass('alert');
                  $('.message').addClass('notice');
                  currentCount = 60;
                  buttonDisabled = true;
                  $('.verification-code-button').text("发送中... (60)");
                  interval = setInterval(setCountDown, 1000);
                } else {
                  $('.message').removeClass('notice');
                  $('.message').addClass('alert');
                  $('.message').effect('shake', {}, 500);
                }
                $('.message').html(data.message);
              }
            });
          }
        }
      });

      $('.complete-information-button').click(function(e) {
        e.preventDefault();
        if($('#user_phone').val() == '' || $('#user_phone').val().length != 11) {
          showValidateMessage('请填写手机号');
        } else if(!(new RegExp(/^1\d{10}$/).test($('#user_phone').val()))) {
          showValidateMessage('手机号格式不正确');
        } else if($('#verification_code').val() == '' || $('#verification_code').val().length != 4) {
          showValidateMessage('请填写验证码');
        } else if(!(new RegExp(/^\d{4}$/).test($('#verification_code').val()))) {
          showValidateMessage('验证码格式不正确');
        } else if($('#user_nickname').val() == '') {
          showValidateMessage('请填写昵称');
        } else if(!(new RegExp(/^[0-9A-Za-z_\u4e00-\u9fa5]{4,16}$/).test($('#user_nickname').val()))) {
          showValidateMessage('昵称格式不正确');
        } else {
          $.ajax({
            url: "/wechat/users/complete",
            data: $('#complete_information').serialize(),
            method: 'POST',
            async: false,
            success: function(data) {
              if(data.result == 'success') {
                window.location.href = '/wechat/dashboard';
              } else {
                showValidateMessage(data.message);
              }
            }
          });
        }
      });

      function showValidateMessage(message) {
        $('.message').removeClass('notice');
        $('.message').addClass('alert');
        $('.message').html(message);
        $('.message').effect('shake', {}, 500);
      }

      function setCountDown() {
        if (currentCount == 0) {                
          clearInterval(interval);
          $('.verification-code-button').text("重新发送");
          buttonDisabled = false;
        }
        else {
          currentCount--;
          $('.verification-code-button').text("发送中... (" + currentCount + ")");
        }
      }
    });
  }(jQuery));
  </script>
<% end %>