<div class="content">
  <div class="form new-task-form">
    <%= form_for [:wechat, @task], html: { multipart: true } do |f| %>
    <%= f.hidden_field :region_id %>
    <%= f.hidden_field :category_id %>
    <%= f.hidden_field :quantity %>
      <div class="form-line form-line-plain">
        <%= f.text_area :content, class: 'text-area text-area-content', placeholder: '请详细描述您需要的货品信息，包括货号、型号、颜色、尺码等' %>
      </div>
      <div class="form-line">
        <label class="form-label">品类：</label>
        <div class="form-content form-content-regions">
          <% Category.all.each do |category| %>
          <%= link_to category.name, 'javascript:;', 'category-id' => category.id, class: 'category-btn' %>
          <% end %>
        </div>
      </div>
      <div class="form-line">
        <label class="form-label">照片：</label>
        <div class="form-content">
          <input name="photographs[]" type="file" accept="image/*" class="file-field" multiple>
        </div>
      </div>
      <div class="form-line">
        <label class="form-label">地点：</label>
        <div class="form-content form-content-regions">
          <% Region.all.each do |region| %>
          <%= link_to region.name, 'javascript:;', 'region-id' => region.id, class: 'region-btn' %>
          <% end %>
          <%= link_to '其它', 'javascript:;', 'region-id' => 0, class: 'region-btn' %>
        </div>
      </div>
      <div class="form-line">
        <label class="form-label">预估单价：</label>
        <div class="form-content">
          <%= f.text_field :estimate_unit_price, maxlength: 6, class: 'text-field text-field-price' %>
        </div>
      </div>
      <div class="form-line">
        <label class="form-label">数量：</label>
        <div class="form-content">
          <a href="javascript:;" class="quantity-minus">-</a>
          <span class="quantity">1</span>
          <a href="javascript:;" class="quantity-plus">+</a>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="form-line">
        <label class="form-label">预估总价：</label>
        <div class="form-content"><span class="estimate_total_price">-</span></div>
      </div>
      <div class="form-line">
        <label class="form-label">定金估算：</label>
        <div class="form-content"><span class="deposit">-</span></div>
      </div>
      <div class="form-line">
        <label class="form-label">佣金估算：</label>
        <div class="form-content"><span class="commission">-</span></div>
      </div>
      <div class="form-line form-line-plain form-consignees">
        <% @current_user.consignees.each do |consignee| %>
        <a class="consignee-btn clearfix">
          <div class="name"><%= consignee.name %></div>
          <div class="phone"><%= consignee.phone %></div>
          <div class="address"><%= consignee.address %></div>
        </a>
        <% end %>
      </div>
      <div class="form-line">
        <label class="form-label">收货人：</label>
        <div class="form-content">
          <%= f.text_field :consignee_name, maxlength: 6, class: 'text-field' %>
        </div>
      </div>
      <div class="form-line">
        <label class="form-label">手机号：</label>
        <div class="form-content">
          <%= f.text_field :consignee_phone, maxlength: 11, class: 'text-field' %>
        </div>
      </div>
      <div class="form-line">
        <label class="form-label">联系地址：</label>
        <div class="form-content">
          <%= f.text_area :consignee_address, placeholder: '请务必填写您的详细地址', class: 'text-area' %>
        </div>
      </div>
      <div class="form-line">
        <label class="form-label">邮政编码：</label>
        <div class="form-content">
          <%= f.text_field :consignee_postal_code, maxlength: 6, class: 'text-field' %>
        </div>
      </div>
      <div><%= link_to '填写完成，发布需求', 'javascript:;', class: 'btn-submit', id: 'new-task-btn' %></div>
    <% end %>
  </div>
</div>
<%= footer_tag %>

<% content_for :javascript do %>
  <script>
    $(document).ready(function() {
      function calcTotalAndCommission() {
        if(!(new RegExp(/^\d{1,6}$/).test($('#task_estimate_unit_price').val()))) {
          $('.estimate_total_price').html('-');
          $('.deposit').html('-');
          $('.commission').html('-');
        } else if(parseInt($('#task_estimate_unit_price').val()) < 1 || parseInt($('#task_estimate_unit_price').val()) > 100000) {
          $('.estimate_total_price').html('-');
          $('.deposit').html('-');
          $('.commission').html('-');
        } else {
          $('.estimate_total_price').html(Math.round(parseInt($('#task_estimate_unit_price').val()) * parseInt($('.quantity').html())) + '元');
          $('.deposit').html(Math.round(parseInt($('#task_estimate_unit_price').val()) * parseInt($('.quantity').html()) * <%= Preference.deposit_ratio %>) + '元');
          $('.commission').html(Math.round(parseInt($('#task_estimate_unit_price').val()) * parseInt($('.quantity').html()) * <%= Preference.commission_rate %>) + '元');
        }
      }

      $('.region-btn').click(function(e){
        e.preventDefault();
        $('.region-btn').removeClass('selected');
        $(this).addClass('selected');
        $('#task_region_id').val($(this).attr('region-id'));
      });

      $('.category-btn').click(function(e){
        e.preventDefault();
        $('.category-btn').removeClass('selected');
        $(this).addClass('selected');
        $('#task_category_id').val($(this).attr('category-id'));
      });

      $('.consignee-btn').click(function(e){
        e.preventDefault();
        $('#task_consignee_name').val($(this).children('div.name:first').html());
        $('#task_consignee_phone').val($(this).children('div.phone:first').html());
        $('#task_consignee_address').val($(this).children('div.address:first').html());
      });

      $('#new-task-btn').click(function(e){
        e.preventDefault();
        $('#task_quantity').val(parseInt($('.quantity').html()));
        var estimate_total_price = parseInt($('#task_estimate_unit_price').val()) * parseInt($('#task_quantity').val());
        if($('#task_content').val() == '' || $('#task_content').val().length < 10) {
          toastr.error('描述信息不能少于10个字');
        } else if($('#task_content').val().length > 2000) {
          toastr.error('描述信息不能大于2000个字');
        } else if($('#task_category_id').val() == '') {
          toastr.error('请选择品类');
        } else if($('#task_region_id').val() == '') {
          toastr.error('请选择地区');
        } else if($('#task_estimate_unit_price').val() == '') {
          toastr.error('请填写预估单价');
        } else if(!(new RegExp(/^\d{1,6}$/).test($('#task_estimate_unit_price').val()))) {
          toastr.error('预估单价不能小于1元、大于10万元');
        } else if(parseInt($('#task_estimate_unit_price').val()) < 1 || parseInt($('#task_estimate_unit_price').val()) > 100000) {
          toastr.error('预估单价不能小于1元、大于10万元');
        } else if($('#task_quantity').val() == '') {
          toastr.error('请选择数量');
        } else if(!(new RegExp(/^\d{1,2}$/).test($('#task_quantity').val()))) {
          toastr.error('数量不能小于1件、大于99件');
        } else if(parseInt($('#task_quantity').val()) < 1 || parseInt($('#task_quantity').val()) > 99) {
          toastr.error('数量不能小于1件、大于99件');
        } else if(!(new RegExp(/^\d{3,6}$/).test(estimate_total_price))) {
          toastr.error('预估总价不能小于100元、大于10万元');
        } else if(estimate_total_price < 1 || estimate_total_price > 100000) {
          toastr.error('预估总价不能小于100元、大于10万元');
        } else if($('#task_consignee_name').val() == '') {
          toastr.error('请填写收货人');
        } else if($('#task_consignee_phone').val() == '') {
          toastr.error('请填写收货人手机号');
        } else if($('#task_consignee_address').val() == '') {
          toastr.error('请填写收货地址');
        } else {
          $('#new-task-btn').hide();
          $('#new-task-btn').parent().prepend('<a href="javascript:;" class="btn-submit">提交中...</a>');
          $('#new-task-btn').parents('form:first').submit();
        }
      });

      $('.text-field-price').on('input',function(e){
        calcTotalAndCommission();
      });

      $('.quantity-plus').click(function(e){
        if (parseInt($('.quantity').html()) < 99) {
          $('.quantity').html(parseInt($('.quantity').html()) + 1);
        }
        calcTotalAndCommission();
      });

      $('.quantity-minus').click(function(e){
        if (parseInt($('.quantity').html()) > 1) {
          $('.quantity').html(parseInt($('.quantity').html()) - 1);
        }
        calcTotalAndCommission();
      });
    });
  </script>
<% end %>