<div class="form new-task-form">
  <%= form_for [:wechat, @task], html: { multipart: true } do |f| %>
  <%= f.hidden_field :region_id %>
    <div class="form-line form-line-plain">
      <%= f.text_area :content, class: 'text-area text-area-content', placeholder: '请详细描述您需要的货品信息，包括货号、型号、颜色、尺码等' %>
    </div>
    <div class="form-line">
      <label class="form-label">照片：</label>
      <div class="form-content">
        <input name="photographs[]" type="file" accept="image/*" class="file-field" multiple>
      </div>
    </div>
    <div class="form-line">
      <label class="form-label">地点：</label>
      <div class="form-content form-content-regions">
        <% Region.all.each do |region| %>
        <%= link_to region.name, 'javascript:;', 'region-id' => region.id, class: 'region-btn' %>
        <% end %>
        <%= link_to '其它', 'javascript:;', 'region-id' => 0, class: 'region-btn' %>
      </div>
    </div>
    <div class="form-line">
      <label class="form-label">预估价：</label>
      <div class="form-content">
        <%= f.text_field :estimate_price, maxlength: 6, class: 'text-field text-field-price' %>
      </div>
    </div>
    <%= link_to '填写完成，发布需求', 'javascript:;', class: 'btn-submit', id: 'new-task-btn' %>
  <% end %>
</div>
<%= footer_tag %>

<% content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.region-btn').click(function(e){
        e.preventDefault();
        $('.region-btn').removeClass('selected');
        $(this).addClass('selected');
        $('#task_region_id').val($(this).attr('region-id'));
      });

      $('#new-task-btn').click(function(e){
        e.preventDefault();
        if($('#task_content').val() == '' || $('#task_content').val().length < 10) {
          toastr.error('描述信息不能少于10个字');
        } else if($('#task_content').val().length > 2000) {
          toastr.error('描述信息不能大于2000个字');
        } else if($('#task_region_id').val() == '') {
          toastr.error('请选择地区');
        } else if($('#task_estimate_price').val() == '') {
          toastr.error('请填写预估价格');
        } else if(!(new RegExp(/^\d{3,6}$/).test($('#task_estimate_price').val()))) {
          toastr.error('预估价格不能小于100元、大于10万元');
        } else if(parseInt($('#task_estimate_price').val()) < 100 || parseInt($('#task_estimate_price').val()) > 100000) {
          toastr.error('预估价格不能小于100元、大于10万元');
        } else {
          $('#new-task-btn').hide();
          $('#new-task-btn').parent().prepend('<a href="javascript:;" class="button button-blue full-button">提交中...</a>');
          $('#new-task-btn').parents('form:first').submit();
        }
      });
    });
  </script>
<% end %>