<% @tasks.each do |task| %>
<div class="panel panel-task-list">
  <a href="<%= url_for([:wechat, task]) %>">
    <div class="user">
      <div class="portrait"><%= image_tag 'wechat/blank.png', class: 'lazy', data: { original: (task.demander.portrait.w100_h100_fl_q60.url || asset_path('wechat/non-portrait.jpg')) } %></div>
      <div class="nickname"><%= task.demander.nickname %></div>
    </div>
    <div class="commission"><span>佣金</span><%= task.commission.to_i %>元</div>
    <div class="clearfix"></div>
    <div class="published-at"><%= task.accepted_at.strftime('%Y-%m-%d %H:%M') %> 接单</div>
    <div class="region">
      <% if task.region %>
      <%= task.region.name %>购买
      <% else %>
      无地点限制
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div class="task-content"><%= task.content %></div>
  </a>
</div>
<% end %>
<%= link_to_next_page @tasks, '下一页' do %>
<a class="no-more-results">没有更多了</a>
<% end %>