<div class="login-page bg1">
  <div class="login-page-overlay"></div>
  <div class="login-page-wrapper">
    <a href="#" class="login-logo"></a>
    <p>分享您的旅行箱，结交更多好朋友</p>
    <%= flash_tag %>
    <%= form_tag wechat_force_signin_path, method: :post do %>
      <%= text_field_tag :open_id, nil, class: 'login-username', placeholder: 'Open ID' %>
      <div class="one-half">
        <%= submit_tag '登录', class: 'button button-green' %>
      </div>
      <div class="one-half last-column">
        <%= link_to '生成新用户', wechat_force_signup_path, method: :post, class: 'button button-blue' %>
      </div>
    <% end %>
    <div class="clear"></div>
    <a class="forgot" href="#">忘记密码?</a>
  </div>
</div>